# -------------------------------------------------------------------------------------------------------------------------
# INVOICE SERVICE MYSQL
# -------------------------------------------------------------------------------------------------------------------------
INVOICE_SERVICE_MYSQL_DB_HOST=invoice-mysql
INVOICE_SERVICE_MYSQL_DB_PORT=3309
INVOICE_SERVICE_MYSQL_DB_NAME=invoices_db
INVOICE_SERVICE_MYSQL_DB_USER=
INVOICE_SERVICE_MYSQL_DB_PASSWORD=
INVOICE_SERVICE_MYSQL_DB_ROOT_PASSWORD=
INVOICE_SERVICE_MYSQL_INNODB_BUFFER_POOL_SIZE=256M
INVOICE_SERVICE_MYSQL_MAX_CONNECTIONS=200

# -------------------------------------------------------------------------------------------------------------------------
# INVOICE SERVICE
# -------------------------------------------------------------------------------------------------------------------------
INVOICE_SERVICE_PORT=8082
INVOICE_SERVICE_APPLICATION_NAME=invoice-service

INVOICE_SERVICE_FAKTUROWNIA_URL=
INVOICE_SERVICE_FAKTUROWNIA_TOKEN=

INVOICE_SERVICE_WEBHOOK_TOKEN=
SPRINGDOC_API_DOCS_SWAGGER_ENABLED=false

# -------------------------------------------------------------------------------------------------------------------------
# INVOICE REDIS
# -------------------------------------------------------------------------------------------------------------------------
INVOICE_SERVICE_REDIS_PORT=6379

